table tr th{
    margin: 0 10px;
}
table{
    width: 95%;
    margin: 0 auto;
    background-color:white;
}
table tr th{
    background-color:#F5F6FA;
    height:54px;
    color:#686868;
    font-size:16px;
    font-weight: 400;

}
table tr{
    border-radius: 13px;
}
table tr td{
    height: 55px;
}
span{
    cursor: pointer;
}
span:active:hover{
    color: blue;
}